html{
    height: 100%;
}
body{
    overflow: hidden;
    height: 100%;
}
.main-container{
    height: 100%;
}
.main-content{
    height: 100%;
}
.main-content-inner{
    height: 100%;
}
.page-content{
    height: 100%;
}
#main-page{
    height: 100%;
}
.main-con{
    height: 100%;
}
#dataTable_wrapper{
    height: 100%;
}
#dataTable{
    overflow-y: hidden;
    max-height: 74%;
}
#dataTable tbody{
    overflow-y: scroll;
    max-height: 91%;
}
.footer{
    height: 10%;
    position: relative;
    width: 100%;
    z-index: 0;
    padding: 0;
    display: block;
}
.footer-inner{
    width: 88%;
    bottom: 137px;
}
.footer-content{
    position: relative;
}
